/* This is my css file for index.html */

.sorority{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#textArea{
  text-align: center;
}

*{
  color: purple;
}

p{
  color: black;
  font-size: 10mm;
  line-height: 1em;
}

h1{
  font-size: 1cm;
}

a:hover {
  color: red;
}

a:active {
  background-color: yellow;
}

a{
  text-decoration: none;
  display: block;
}

li{
  display: inline;
}

div h2{
  background-color: pink;
}

div > p {
  color: hsla(290,60%,70%,0.3);
}

div + p {
  color: hsl(120, 100%, 50%);
}

div ~ p {
  text-color: #0000ff; /* blue color for siblings of div elements */
}

h1, h3{
  background-color: rgb(255,0,255);
  position: static;
}

h2{
  font-size: 110%;
}

h3{
  font-size: 5vmin;
  height: 50px;
  width: 400px;
  max-width: 500%;
  min-width: 50%;
}

p.intro {
  background-color: rgba(255,0,255, 0.3);
  border-style: solid;
  border-color: purple;
  border-width: medium;
  border-radius: 5px;
  padding: 25px 50px 50px 25px;
}

p.solid {
  border-style: solid;
  margin: auto;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}

p.marginPractice{
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right:5px;
  display: inline-grid;
  grid-template-rows: 10% 10px auto;
  grid-template-columns: auto;
}

p.musicVideo{
  margin: 5px 30px 30px 5px;
}

div{
  position: relative;
}

